#set($page_title="海外物流查询")
#set($layout="layout.vm")

#include("purchase/menu.vm")
<div class="table-responsive">
	<form action="updateExpressno.do" method="post">
		<table id="sample-table-1"
			class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>海外订单号</th>
					<th>海外物流号</th>
					<th>货品详情</th>
					<th>姓名</th>
					<th class="hidden-480">单价</th>
					<th>数量</th>
				</tr>
			</thead>

			<tbody>
				#foreach($sal in ${beans})
				<tr>
					<td>$sal.abroadOrderName</td>
					<td>$sal.expressno</td>
					<td>$sal.title</td>
					<td>$sal.name</td>
					<td>$sal.price</td>
					<td>$sal.sum</td>
				</tr>
				#end
			</tbody>
		</table>
	</form>
</div>
<!-- /.table-responsive -->