<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close"> <property name="driverClassName" value="com.mysql.jdbc.Driver" 
		/> <property name="url" value="jdbc:mysql://10.16.37.105:3306/guxinghanshe?useUnicode=true&amp;characterEncoding=utf-8" 
		/> <property name="username" value="spring" /> <property name="password" 
		value="spring" /> </bean> <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"> 
		<property name="dataSource"> <ref bean="dataSource"/> </property> </bean> -->
	<context:property-placeholder location="classpath:conf/*.properties" />
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="protocol" value="${email.protocol}" />
		<property name="host" value="${email.host}" />
		<property name="port" value="${email.port}" />
		<property name="username" value="${email.username}" />
		<property name="password" value="${email.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.${email.protocol}.auth">${email.auth}</prop>
				<prop key="prop">true</prop>
			</props>
		</property>
	</bean>
	<import resource="applicationContext-dao.xml" />
	<import resource="applicationContext-ecstoredao.xml" />
	<import resource="applicationContext-service.xml" />
	<import resource="applicationContext-security.xml" />
	<import resource="applicationContext-task.xml" />
</beans>
